
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    color: #fff;
}